
/**FONTS******************/
@font-face {
  font-family: Brandon-bold;
  src: url(fonts/Brandon.Grotesque.Condensed/BrandonGrotesqueCond-Bold.ttf);
}

@font-face {
  font-family: Brandon-light;
  src: url(fonts/Brandon.Grotesque.Condensed/BrandonGrotesqueCond-Light.ttf);
}


@font-face {
  font-family: Brandon-thin;
  src: url(fonts/Brandon.Grotesque.Condensed/BrandonGrotesqueCond-Thin.ttf);
}

@font-face {
  font-family: Brandon-regular;
  src: url(fonts/Brandon.Grotesque.Condensed/BrandonGrotesqueCond-Regular.ttf);
}


@font-face {
  font-family: Brandon-medium;
  src: url(fonts/Brandon.Grotesque.Condensed/BrandonGrotesqueCond-Medium.ttf);
}


/**MAINS******************/
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.tlh-10 {
  line-height: 200%;
}


.text-header {
  font-family: sans-serif;
  font-size: 28px;
}

.text-body {
  font-size: 22px;
  font-family: 'Brandon-regular'
}

.color-1 {
  color: #675d23
}

.color-2 {
  color: #000000;
}

/*****/
body,
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Brandon-regular';
  overflow-y: hidden;
}

* {

  letter-spacing: 1.02px;
}



/*HEADER AND MAIN*********/
header {
  color: #ffffff;
  background-color: #ffffff;
  box-shadow: 0px 0px 3px 3px #959595;
  height: 10vh;
  width: 100vw;
  overflow-y: hidden;
  display: flex;
  align-items: center;

}

header .logo {
  width: 30vw;
}

header .logo img {
  margin-left: 30px;
  width: relative;
  height: 10vh;
}

.navbar {
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  width: 60vw;
}

.navbar a {
  text-decoration: none;
  color: #757575;
  font-family: 'Brandon-medium';
  font-size: 1.30em;
  transition: all 0.3s;
  padding: 5vh;
}

.navbar a:hover {
  transform: scale(1.02);
  background-color: #999999;
  color: #ffffff;


}

main {
  height: 90vh;
  width: 100vw;
  overflow-y: scroll;
}


/* FOOTER*****************/ 
footer {
    margin-top: 100px;
    background-color: #000000;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    padding: 50px 20%;
    color: #ffffff;
  }
  
  .social-icons a i {
    color: #ffffff;
    font-size: 22px;
    margin-right: 18px;
    transition: transform 0.2s;
  }
  
  .social-icons a i:hover {
    font-size: 22px;
    color: #ffffff;
    transform: scale(1.04);
  }
  
  footer .logo {
    text-align: center; 
  }

  footer .logo img{
    margin: 0;
    width: 200px;
  }
  .center-caption-container {
    display: flex;
    flex-direction: column;
    padding: 10vh 10vw;
}


  @media only screen and (max-width : 746px) {
    footer {
       display: flex;
       flex-direction: column;
      }

      .social-icons{
        text-align: center;
      }

      footer .logo img{
        width: 80%;
      }

      
      header .logo img {
        margin: 0px;
        width: 20vw;
        height: auto;
    }


    .navbar{
        width: 80vw;
        padding: 2px;
    }

    .navbar a {
        padding: 5vw 4px;
        vertical-align: middle;
        font-size: 18px;
    }

      

  }
      